body {
  background: #ADD8E6;;
  color: #252629;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#card-container {
  background: #D9D9D9;
  border: 3px solid white;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 10px;
  width: 75%;
}

#page-title {
  background: #f04242;
  color: white;
  padding: 20px;
  text-align: center;
}

.card {
  align-items: center;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin-right: 30px;
  min-width: 400px;
  padding: 20px;
}

.card img {
  height: 200px;
  width: 200px;
}

.card h5 {
  font-size: 30px;
  margin-bottom: 0px;
}

#order-history, #cart {
  background: #007EA7;
  color: white;
  border: 3px solid white;
  text-align: center;
  width: 10%;
}

.item-description p {
  font-size: 25px;
  text-align: center;
}

#price {
  display: inline-block;
  font-size: 30px;
  color: #007EA7;
}

.hide {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
}
